<h1>Корзина</h1>
{% for item in cart.items.all %}
    <div>
        <h3>{{ item.product.name }}</h3>
        <p>Количество: {{ item.quantity }}</p>
        <p>Цена: {{ item.product.price }} руб.</p>
        <p>Сумма: {% widthratio item.quantity 1 item.product.price %} руб.</p>
        <a href="{% url 'cart_item_update' item.pk %}">Изменить</a>
        <a href="{% url 'cart_item_delete' item.pk %}">Удалить</a>
    </div>
{% empty %}
    <p>Корзина пуста</p>
{% endfor %}
<a href="{% url 'order_create_from_cart' cart.pk %}">Оформить заказ</a>